<div gdAreas="header |  side  |  content | footer" gdGap="16px" gdRows="auto auto auto"
    gdRows.lt-md="auto auto auto auto">

    <div class="header" gdArea="header">
    </div>


    <div class="side" gdArea="side" fxLayout="row wrap" gdRows="auto" gdGap="16px" fxLayoutGap="auto"
        fxLayoutAlign="space-between">

        <mat-radio-button fxLayoutAlign="space-around" value="1">Markets A
        </mat-radio-button>
        <mat-radio-button fxLayoutAlign="space-around" value="1">Markets A
        </mat-radio-button>

    </div>


    <div id="graphContainer" class="content" gdArea="content"></div>

    <div class="footer" gdArea="footer">

    </div>
</div>